.type-bug {
    background-color: var(--bug);
}

.type-dark {
    background-color: var(--dark);
}

.type-dragon {
    background-color: var(--dragon);
}
.type-electric {
    background-color: var(--electric);
}
.type-fairy {
    background-color: var(--fairy);
}
.type-fighting {
    background-color: var(--fighting);
}
.type-fire {
    background-color: var(--fire);
}
.type-flying {
    background-color: var(--flying);
}
.type-ghost {
    background-color: var(--ghost);
}
.type-normal {
    background-color: var(--normal);
}
.type-grass {
    background-color: var(--grass);
}
.type-ground {
    background-color: var(--ground);
}
.type-ice {
    background-color: var(--ice);
}
.type-poison {
    background-color: var(--poison);
}
.type-psychic {
    background-color: var(--psychic);
}
.type-rock {
    background-color: var(--rock);
}
.type-steel{
    background-color: var(--steel);
}
.type-water{
    background-color: var(--water);
}