:root {
    --primary: #dc0a2d;
    --dark: #212121;
    --medium: #666;
    --light: #666;
    --background: #efefef;
    --white: #fff;
    --bug: #a7b723;
    --dark: #75574c;
    --dragon: #7037ff;
    --electric: #f9cf30;
    --fairy: #e69eac;
    --fighting: #c12239;
    --fire: #f57d31;
    --flying: #a891ec;
    --ghost: #70559b;
    --normal: #aaa67f;
    --grass: #74cb48;
    --ground: #dec16b;
    --ice: #9ad6df;
    --poison: #a43e9e;
    --psychic: #fb5584;
    --rock: #b7b9d0;
    --steel: #b7b9d0;
    --water: #6493eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    background-color: var(--primary);
}

#root-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/** CONTENIDO HEADER **/

header {
    width: 100%;
    height: 120px;
    padding: 0 1rem;
}

#header-container {
    display: flex;
    justify-content: left;
    gap: 1rem;
    padding: 1rem 0;
}

#searchBar {
    width: 100%;
    height: 25px;
    border-radius: 20px;
    border: none;
    padding: 0 2rem;
    background: url(./assets/search.svg) no-repeat scroll 10px 5px;
    background-color: var(--background);
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
}

/** CONTENIDO MAIN **/

main {
    width: calc(100% - 10px);
    height: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: var(--background);
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 1rem 4rem;
    text-align: right;
    display: block;
}

section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    justify-content: space-evenly;
    padding: 1rem;
    gap: 4rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 360px;
}

.container-info{
    width: 100%;
    height: 100%;
    padding: 5px;
}

.bg-info{
    width: 100%;
    height: 100%;
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.p-types{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 1.5rem 1rem 1rem 1rem;
    gap: 1.5rem;
    font-size: 0.7rem;
    color: var(--white);
    font-weight: 600;
}

#aboutText{
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    width: 100%;
    height: fit-content;
    
}

